.osaamiseni-title {
  background: #136085;
  color: #FFFFFF;
}

.osaamiseni-head {
  background: #136085;
  color: #FFFFFF;
}

.osaamiseni-content {
  background: #FFFFFF;
}
.osaamiseni-content-head {
  background: #FFFFFF;
  margin-top: 40px;
}
.osaamiseni-content-head-text {
  font-size: 150%;
  font-weight: bold;
  color: #F06C30;
}
.osaamiseni-content-head-text.special{
  color: #136085;
}
.osaamiseni-content-body {
  //border: 1px dotted lightgray;
}
.osaamiseni-content-body-text {
  font-size: 100%;
  font-weight: normal;
}
.osaamiseni-content-box {
  background: #000000;
  color: #FFFFFF;
  cursor: pointer;
  min-height: 150px;
}

.osaamiseni-content-suoritus {
  padding:1ch;
  margin:0ch;
  // border-left:1px solid lightgray;
}

.osaamiseni-degree-body {
  color: #5555ff;
}
.osaamiseni-degree-menu {
  background: #eeeeff;
}
.osaamiseni-degree-content {
  background: #ffffff;
}
