.osaamiseni-title {
  background: #136085;
  color: #FFFFFF;
}

.osaamiseni-head {
  background: #136085;
  color: #FFFFFF;
}

.osaamiseni-content {
  background: #FFFFFF;
}
.osaamiseni-content-head {
  background: #FFFFFF;
  margin-top: 40px;
}
.osaamiseni-content-head-text {
  font-size: 150%;
  font-weight: bold;
  color: #F06C30;
}
.osaamiseni-content-body {
  //border: 1px dotted lightgray;
}
.osaamiseni-content-body-text {
  font-size: 100%;
  font-weight: normal;
}
.osaamiseni-content-box {
  background: #000000;
  color: #FFFFFF;
  border: 1px dotted lightgray;
}

.osaamiseni-content-suoritus {
  padding:1ch;
  margin:0ch;
  // border-left:1px solid lightgray;
}

.osaamiseni-info {
}
.osaamiseni-info-head-text {
  font-size: 125%;
  font-weight: bold;
  color: #F06C30;
}
.osaamiseni-info-body-text {
  font-size: 100%;
  font-weight: normal;
}
