<!DOCTYPE html>
<html data-ng-app="rapidApp" data-ng-controller="osaamiseniCtrl">
<head>
<!-- bootstrap :: the  first 3 must be first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- angularjs -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<!-- script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>

<!-- ui-select files -->
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.4/select.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.19.4/select.min.css">

<!-- angular-ui-tree -->
<!-- script src="angular-ui-tree.min.js"></script>
<link rel="stylesheet" href="angular-ui-tree.min.css" -->

<script src="js/config.js"></script>
<script src="js/i18n.js"></script>
<script src="js/utility.js"></script>
<script src="js/service.js"></script>
<script src="js/controller.js"></script>

<script src="js/dev-auth.js"></script>

<link rel="stylesheet" href="css/main.css">

<title>{{i18n.app.name[lang]}}</title>
</head>
<body>

<div class="container-fluid">

<div class="row osaamiseni-head">
  <div class="col-xs-12 col-md-3">
    <h1 class="osaamiseni-head-head-text" data-ng-bind="i18n.title[lang].toUpperCase()"></h1>
  </div>
  <div class="col-xs-9 col-md-6">
    <h3 data-ng-bind="opiskelija.Etunimet+' '+opiskelija.Sukunimi"></h3>
    <h5>
      <span style="color:lightgray;">
        <input type="text" value="{{opiskelija.Henkilotunnus}}" size="11"
         style="border-width:1px 3px; border-color:lightgray; border-style:solid double; color:beige; background-color:beige; width: 12ch;">
      </span>
    </h5>
  </div>
  <div class="col-xs-3 col-md-3 text-right">
    <span data-ng-show="lang!='fi'"><a href="#" data-ng-click="lang='fi'">Suomeksi</a></span>
    <span data-ng-show="lang!='fi'">|</span>
    <span data-ng-show="lang!='sv'"><a href="#" data-ng-click="lang='sv'">På svenska</a></span>
    <span data-ng-show="lang=='fi'">|</span>
    <span data-ng-show="lang!='en'"><a href="#" data-ng-click="lang='en'">In English</a></span>
  </div>
</div>

<div class="row">

  <div class="col-xs-12 osaamiseni-content">

    <div class="row">
      <div class="col-xs-12 col-md-4 text-right osaamiseni-content-head">
        <span class="osaamiseni-content-head-text" data-ng-bind="i18n.studyrights[lang].toUpperCase()"></span>
      </div>
      <div class="col-xs-12 col-md-8 osaamiseni-content-body">
        <ui-select data-ng-model="opiskeluoikeudet.selected" on-select="useOpiskeluoikeus($select.selected.avain)"
                 theme="bootstrap">
          <ui-select-match class="ui-select-match" placeholder="{{i18n.studyrights.choose[lang]}}">
            {{ $select.selected.Koulutus[lang] || $select.selected.koulutusmoduulitunniste }}
          </ui-select-match>
          <ui-select-choices repeat="o in opiskeluoikeudet">
            {{ o.Koulutus[lang] || o.koulutusmoduulitunniste }}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <div class="row" data-ng-model="div_patevyydet" data-ng-show="patevyydet.length>0">
      <div class="col-xs-12 col-md-4 text-right osaamiseni-content-head">
        <span class="osaamiseni-content-head-text" data-ng-bind="i18n.qualifications[lang].toUpperCase()"></span>
      </div>
      <div class="col-xs-12 col-md-8 osaamiseni-content-body">
        <div class="row" data-ng-repeat="o in patevyydet">
          <div class="col-xs-12 col-sm-8 col-md-10">
            <span data-ng-bind="(o.Patevyys[lang]).capitalizeFirstLetter()+', '"></span>
            <span data-ng-bind="(o.Myontaja[lang]).capitalizeFirstLetter()"></span>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2">
            <span data-ng-bind="o.SuoritusPvm.toLocaleString('fi-FI',{year:'numeric',month:'numeric',day:'numeric'})"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4 text-right osaamiseni-content-head">
        <span class="osaamiseni-content-head-text" data-ng-bind="i18n.degrees[lang].toUpperCase()"></span>
      </div>
      <div class="col-xs-12 col-md-8 osaamiseni-content-body">
        <ul style="list-style:none; padding-left:0ch; padding-top:2ch; padding-bottom:0ch;">
          <li data-ng-repeat="t in suoritustree">
            <div class="osaamiseni-content-suoritus" data-ng-model="div_tutk$index" data-ng-click="tutk$index=!tutk$index;">
              <span data-ng-show="t.nodes && !tutk$index" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span data-ng-show="t.nodes && tutk$index" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              <span data-ng-bind="t.Nimi[lang]"></span>,
              <span data-ng-bind="(t.Myontaja[lang]).capitalizeFirstLetter()"></span>
              <span data-ng-bind="t.Laajuus.Opintopiste"></span>
              <span data-ng-bind="t.SuoritusPvm.toLocaleString('fi-FI',{year:'numeric',month:'numeric',day:'numeric'})"></span>
            </div>
            <ul style="list-style:none; padding-left:2ch; padding-top:0ch; padding-bottom:0ch;">
              <li data-ng-repeat="k in t.nodes" data-ng-show="tutk$index">
                <div class="osaamiseni-content-suoritus" data-ng-model="div_kok$index" data-ng-click="kok$index=!kok$index;">
                  <span data-ng-show="k.nodes && !kok$index" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span data-ng-show="k.nodes && kok$index" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                  {{k.Nimi[lang]}} {{k.Laajuus.Opintopiste}} {{k.SuoritusPvm.toLocaleString('fi-FI',{year:'numeric',month:'numeric',day:'numeric'})}}
                </div>
                <ul style="list-style:none; padding-left:2ch;">
                  <li data-ng-repeat="s in k.nodes" data-ng-show="kok$index" style="padding:0px; spacing:0ch;">
                    <div class="osaamiseni-content-suoritus">
                      <span class="glyphicon glyphicon-record" aria-hidden="true"></span>
                      {{s.Nimi[lang]}} {{s.Laajuus.Opintopiste}} {{s.SuoritusPvm.toLocaleString('fi-FI',{year:'numeric',month:'numeric',day:'numeric'})}}
                      <span data-ng-bind="s.koulutusmoduulitunniste"></span>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!-- KOKONAISUUDET -->
    <!--
    <div class="row">
      <div class="col-xs-12 col-md-4 text-right osaamiseni-content-head">
        <span class="osaamiseni-content-head-text" data-ng-bind="i18n.studyblocks[lang].toUpperCase()"></span>
      </div>
      <div class="col-xs-12 col-md-8 osaamiseni-content-body">
        <div class="row" data-ng-repeat="o in kokonaisuudet | orderBy:'-SuoritusPvm'">
          <div class="col-xs-12 col-md-6 col-lg-9">
            <span class="font-weight:bold" data-ng-bind="o.Nimi[lang]"></span>,
            <span data-ng-bind="(o.Myontaja[lang]).capitalizeFirstLetter()"></span>
            :: <span data-ng-bind="o.Kiinnitetty | json"></span>
          </div>
          <div class="col-xs-6 col-md-2 col-lg-1" data-ng-bind="o.Laajuus.Opintopiste"></div>
          <div class="col-xs-6 col-md-4 col-lg-2" data-ng-bind="o.SuoritusPvm.toLocaleString('fi-FI',{year:'numeric',month:'numeric',day:'numeric'})"></div>
        </div>
      </div>
    </div>
    -->
    
    <!-- SUORITUKSET -->
    <div class="row">
      <div class="col-xs-12 col-md-4 text-right osaamiseni-content-head">
        <span class="osaamiseni-content-head-text" data-ng-bind="i18n.studies[lang].toUpperCase()"></span>
      </div>
      <div class="col-xs-12 col-md-8 osaamiseni-content-body">
        <!-- div class="row" data-ng-repeat="o in opintosuoritukset | filter: Kiinnitetty==false | orderBy:'-SuoritusPvm'" -->
        <div class="row" data-ng-repeat="o in opintosuoritukset | orderBy:'-SuoritusPvm'">
          <div class="col-xs-12 col-md-6 col-lg-9">
            <span class="font-weight:bold" data-ng-bind="o.Nimi[lang]"></span>,
            <span data-ng-bind="(o.Myontaja[lang]).capitalizeFirstLetter()"></span>
            <!--
            :: <span data-ng-bind="o.avain | json"></span>
            :: <span data-ng-bind="o.Kiinnitetty | json"></span>
            -->
          </div>
          <div class="col-xs-6 col-md-2 col-lg-1" data-ng-bind="o.Laajuus.Opintopiste"></div>
          <div class="col-xs-6 col-md-4 col-lg-2" data-ng-bind="o.SuoritusPvm.toLocaleString('fi-FI',{year:'numeric',month:'numeric',day:'numeric'})"></div>
        </div>
      </div>
    </div>


  </div>

</div>

</div>

</body>
</html>
