<!DOCTYPE html>
<html data-ng-app="rapidApp" data-ng-controller="osaamiseniCtrl">
<head>
<!-- bootstrap :: the first 3 must be first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- build:js js/vendor.js -->
<script src="../node_modules/@bower_components/angular/angular.min.js"></script>
<script src="../node_modules/@bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="../node_modules/@bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../node_modules/@bower_components/angular-ui-select/dist/select.min.js"></script>
<!-- endbuild -->
<!-- build:js js/app.js -->
<script src="js/config.js"></script>
<script src="js/i18n.js"></script>
<script src="js/utility.js"></script>
<script src="js/service.js"></script>
<script src="js/controller.js"></script>
<script src="js/media.js"></script>
<!-- endbuild -->
<!--demo-->
<script src="demo/dev-auth.js"></script>
<!--enddemo-->

<!-- build:css css/vendor.css -->
<link rel="stylesheet" href="../node_modules/@bower_components/bootstrap-css/css/bootstrap.min.css">
<link rel="stylesheet" href="../node_modules/@bower_components/angular-ui-select/dist/select.min.css">
<!-- endbuild -->
<link rel="stylesheet" href="css/main.css">

<title>{{i18n.app.name[lang]}}</title>
</head>
<body>

<div class="container-fluid">

<div class="row osaamiseni-head">
<div class="col-xs-4">
  <h3 data-ng-bind="i18n.title[lang].toUpperCase()"></h3>
</div>
<div class="col-xs-8 text-right">
  <h5 data-ng-bind="opiskelija.Etunimet+' '+opiskelija.Sukunimi"></h5>
</div>
<!--
<div class="col-xs-3 col-md-3 text-right">
  <span data-ng-show="lang!='fi'"><a href="#" data-ng-click="lang='fi'">Suomeksi</a></span>
  <span data-ng-show="lang!='fi'">|</span>
  <span data-ng-show="lang!='sv'"><a href="#" data-ng-click="lang='sv'">På svenska</a></span>
  <span data-ng-show="lang=='fi'">|</span>
  <span data-ng-show="lang!='en'"><a href="#" data-ng-click="lang='en'">In English</a></span>
</div>
-->
</div>

<div class="row">
<div class="col-xs-2 osaamiseni-content"></div>
<div class="col-xs-10 osaamiseni-content">

  <div data-ng-model="div_person">
    <div class="row osaamiseni-content-head">
      <div class="col-xs-12 osaamiseni-content-head-text special">
        <h1 data-ng-bind="opiskelija.Etunimet+' '+opiskelija.Sukunimi"></h1>
      </div>
    </div>
    <div class="row osaamiseni-content-body">
      <div class="col-xs-6 osaamiseni-content-body-text">
        <input type="text" class="form-control" placeholder="Hae osaamisista...">
      </div>
    </div>
  </div>

  <!-- PÄTEVYYDET -->
  <div data-ng-model="div_patevyydet" data-ng-show="patevyydet.length>0">
    <div class="row osaamiseni-content-head">
      <div class="col-xs-12 osaamiseni-content-head-text">
        <span data-ng-bind="i18n.qualifications[lang].toUpperCase()"></span>
      </div>
    </div>
    <div class="row osaamiseni-content-body">
      <div class="col-xs-3" data-ng-repeat="o in patevyydet">
        <div class="osaamiseni-content-box" data-ng-style="media[o.Myontajakoodi].css" data-ng-click="usePatevyys(o.avain)">
          <img data-ng-src="images/{{media[o.Myontajakoodi].logo}}" style="max-height:60px" class="pull-left">
          <h3 data-ng-bind="(o.Myontaja[lang]).capitalizeFirstLetter()"></h3>
          <h4 data-ng-bind="(o.Patevyys[lang]).capitalizeFirstLetter()"></h4>
          <!-- span data-ng-bind="o.SuoritusPvm.toLocaleString('fi-FI',{year:'numeric',month:'numeric',day:'numeric'})"></span -->
        </div>
      </div>
    </div>
  </div>

  <!-- TUTKINNOT -->
  <div data-ng-model="div_tutkinnot" data-ng-show="tutkinnot.length>0">
    <div class="row osaamiseni-content-head">
      <div class="col-xs-12 osaamiseni-content-head-text">
        <span data-ng-bind="i18n.degrees[lang].toUpperCase()"></span>
      </div>
    </div>
    <div class="row osaamiseni-content-body">
      <div class="col-xs-3" data-ng-repeat="o in tutkinnot">
        <div class="osaamiseni-content-box" data-ng-style="media[o.Myontajakoodi].css" data-ng-click="useTutkinto(o.avain)">
          <img data-ng-src="images/{{media[o.Myontajakoodi].logo}}" style="max-height:60px" class="pull-left">
          <h3 data-ng-bind="(o.Myontaja[lang]).capitalizeFirstLetter()"></h3>
          <h4 data-ng-bind="(o.Nimi[lang]).capitalizeFirstLetter()"></h4>
          <!-- span data-ng-bind="o.SuoritusPvm.toLocaleString('fi-FI',{year:'numeric',month:'numeric',day:'numeric'})"></span -->
        </div>
      </div>
    </div>
  </div>

</div><!--/col (content)-->
</div><!--/row-->

</div><!--/container-->

</body>
</html>
